<mat-drawer-container class="page-container" autosize>
    <mat-drawer #drawer opened="false" style="width: 0%" mode="side">
        <mat-card>
            <mat-card-header>
                <h2>Process Modelling (Idea)</h2>
            </mat-card-header>
            <mat-card-content>
        <div style="height: calc(100vh - 50px)" >
            <ngx-monaco-editor  class="my-code-editor"  style="height: 100%;"
                                [options]="editorOptions"
                                [(ngModel)]="data"
                                (ngModelChange)="checkType()"
                                (onInit)="onInit($event)">

            </ngx-monaco-editor>
        </div>
            </mat-card-content>
        </mat-card>
    </mat-drawer>
    <mat-card>
        <mat-card-header>
            <h2>Process Modelling (prototype)</h2>
        </mat-card-header>
        <mat-card-content>
            <div layout="row" layout-align="space-between center">
        <span *ngIf="hasModeler()">
              <button color = "primary" mat-button (click)="new()" >New</button>&nbsp;
                  <td-file-input
                          class="push-left-sm push-right-sm"
                          #fileInput
                          [(ngModel)]="file"
                          (selectFile)="selectFileEvent($event)"
                          accept=".bpmn,.xml"
                          color = "primary"
                  >
                        <mat-icon>folder</mat-icon>
                        <span class="text-upper">Open</span>
                    </td-file-input>

             <button color = "primary" mat-button (click)="save()" >Save</button>&nbsp;
        </span>
            </div>
        <div #canvas id="canvas" style="height: calc(100vh - 100px)"></div>

    </mat-card-content>
    </mat-card>
</mat-drawer-container>


